@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: white!important;
  background-color: #2D3136;

  font-family: 'Roboto', sans-serif;

}

.brand {
  width: 300px;
}

@media  screen and (max-width : 421px) {
  .brand {
    width: 240px;
  }
}
.convert {
  margin-top: 20px;

  text-align: center;

  color: white;
}


/* contact block*/
form {
  margin-top: 40px;
}

form .block:nth-child(2) {
  padding-right: 50px;
}

form .block:nth-child(3) {
  padding-left: 50px;
}

@media  screen and (max-width : 991px) {
  form .block:nth-child(2) {
    padding-right: 15px;
  }

  form .block:nth-child(3) {
    padding-left: 15px;
  }
}

.form-group label,
.form-group button {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.form-group .required {
  margin-left: 5px;

  color: #BE393B;

  font-size: 32px;
}

.form-group button,
.form-group button:focus,
.form-group button:hover,
.form-group button:active {
  color: white;
  border-color: #BE393B;
  background-color: #BE393B;
}

.form-group button {
  position: absolute;
  right: 15px;
}

.form-group input,
.form-group textarea {
  padding: 45px;

  color: white;
  border-radius: 5px 5px;
  background-color: #2D3136;

  font-size: 26px;
  font-weight: 10;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #BE393B;
  outline: none;
  box-shadow: none;
}

/*end contact block*/

/*cards block*/

#cards {
  color: black;
  background-color: #F6F6F7;
}

#cards h2 {
  padding: 80px 0px;

  text-align: center;

  color: #37414E;

  font-weight: bold;
}

.card {
  margin-bottom: 40px;
}

.card header {
  height: 70px;
  margin-bottom: 0px;
  padding: 5px 0px;

  text-align: center;

  color: white;
  background-color: #4B596C;
}

.card:nth-child(2n) header {
  background-color: #58AD52;
}

.card header h3 {
  font-size: 21px;
  font-weight: 500;
}

.card article {
  height: 200px;
  margin-top: 0px;
  padding: 20px;

  text-align: center;

  background-color: #E9EEF3;
}

.card:nth-child(2n) article {
  color: #768275;
  background-color: #DEEBDE;
}

.card article h4 {
  color: #6D737B;

  font-size: 22px;
  font-weight: bold;
}

.card:nth-child(2n) article h4 {
  color: #58AD52;
}

.card article p {
  padding: 20px;

  color: #767582;

  font-size: 21px;
}

.card:nth-child(2n) article p {
  color: #768275;
}
/*end cards block*/

/*footer*/

footer .brand {
  width: 200px;
}

@media  screen and (max-width : 421px) {
  footer .brand {
    width: 150px;
  }
}

.social div {
  position: absolute;
  right: 0px;

  display: inline-block;

  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;

  border: 2px solid #454648;
  border-radius: 50% 50%;
  background-color: #2F3338;
}

.social div:nth-child(1) {
  margin-right: 70px;
}

@media  screen and (max-width : 991px) {
  .social div:nth-child(1) {
    margin-left: 10px;
  }

  .social div {
    position: relative;

    margin-right: 20px !important;
    margin-bottom: 10px;
  }
}
/*end footer*/
