@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: white!important;
  background-color: #2D3136;

  font-family: 'Roboto', sans-serif;

}


.convert {
  margin-top: 20px;

  text-align: center;

  color: white;
}


/* contact block*/
form {
  margin-top: 40px;
}

form .block:nth-child(2) {
  padding-right: 50px;
}

form .block:nth-child(3) {
  padding-left: 50px;
}

.form-group label,
.form-group button {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.form-group button,
.form-group button:focus,
.form-group button:hover,
.form-group button:active {
  background-color: #BE393B;
  color: white;
  border-color: #BE393B;
}

.form-group button {
  position: absolute;
  right: 15px;
}

.form-group input,
.form-group textarea {
  padding: 45px;

  color: white;
  border-radius: 5px 5px;
  background-color: #2D3136;

  font-size: 26px;
  font-weight: 10;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #BE393B;
  outline: none;
  box-shadow: none;
}
